# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: self-hosted

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          docker container stop desktop 
          docker container rm desktop
          docker rmi desktop
          docker rmi -f desktop
          rm -rf .\webcontainers
          git clone https://gitlab.com/nimbussites/webcontainers.git
          docker build --pull --rm -f "webcontainers\apache-php7.4\Dockerfile" -t desktop:latest "webcontainers\apache-php7.4"
          docker run --name desktop -dt desktop


